<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Notes app</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>
  <body>
    <div class="main w-screen min-h-screen bg-zinc-900 py-5 px-[30%]">
      <h3 class="text-center font-bold text-2xl my-5 text-white">Da notes</h3>
      <form class="bg-inherit flex flex-col gap-5" action="/create" method="POST">
        <input
          type="text"
          name="title"
          id="title"
          placeholder="Note title"
          class="text-white p-3 bg-zinc-800 rounded-lg w-full border border-black/30"
        />
        <textarea
          name="description"
          id="description"
          rows="7"
          placeholder="Note description"
          class="resize-none text-white w-full p-3 bg-zinc-800 border border-black/30 rounded-lg"
        ></textarea>
        <button
          type="submit"
          id="submit"
          class="w-fit bg-blue-600 py-2 rounded-lg text-white px-8 border border-black/30"
        >
          Create Task
        </button>
      </form>
      <div class="task-section">
        <h2 class="text-xl mt-5 text-white font-bold">Tasks</h2>
        <div class="tasks grid grid-cols-3 w-full gap-5 mt-5">
          <% if( files.length > 0 ){ %> <% files.forEach((file)=>{ %>
          <div class="task bg-zinc-800 p-5 rounded-lg">
            <h3 class="font-bold text-white"><%=file%></h3>
            <div class="flex justify-between items-center mt-5">
              <a href='/file/<%= file%>'' class="text-xs text-blue-400">Read more...</a>
              <a href='/edit/<%= file%>'' class="text-xs text-zinc-400">Edit Filename</a>
            </div>
          </div>
          <% }) %> <% } else { %>
          <h3
            class="text-center text-zinc-500 my-5 bg-zinc-800 py-3 rounded-lg col-span-3"
          >
            No tasks yet
          </h3>

          <% } %>
        </div>
      </div>
    </div>
  </body>
</html>


